@import "restyle";

@function my-func($a, $b, $c) {
  @return (
    my-func-a: $a,
    my-func-b: $b,
    restyle-states: (
      hover: (
        my-func-c: $c
      )
    )
  );
}

@function fn($a) {
  @return (
    fn: $a
  );
}

@function fn2($values) {
  @return (
    fn2: $values
  );
}

@include restyle-define(test, (
  restyle-var(foo): bar,
  color: red,

  restyle-function(my-func): (1, restyle-var(foo), this(color)),
  restyle-function(fn): this(color),
  restyle-function(fn2): multiple-values(restyle-var(foo), this(color)),

  restyle-states: (
    active: (
      restyle-function(fn): root(color)
    )
  )
));

.test {
  @include restyle(test);
}
