@import "restyle";

@function get-width($numCols) {
  @return (
    width: percentage(1 / $numCols)
  );
}

@include restyle-define(test, (
  columns: none,
  restyle-modifiers: (
    '{cols}-column': (
      columns: restyle-var(cols),
      restyle-function(get-width): restyle-var(cols)
    ),
    '{rows}-rows': (
      rows: restyle-var(rows)
    ),
    'disabled-{is-disabled}': (
      disabled: restyle-var(is-disabled)
    ),
    '{cols}x{rows}': (
      rows: restyle-var(rows),
      columns: restyle-var(cols),
    ),
    '{foo}-bar': (
      foo: restyle-var(foo)
    )
  )
));

.test {
  @include restyle(test);

  &.cols-2 {
    @include restyle(2-column test);
  }
  &.cols-4 {
    @include restyle(4-column test);
  }
  &.4x3 {
    @include restyle(4x3 test);
  }
  &.2x2 {
    @include restyle(2x2 test);
  }
  &.4x4.foo-bar {
    @include restyle(4x4 foo-bar test);
  }


  &.is-disabled {
    @include restyle(disabled-true test);
  }
  &.is-not-disabled {
    @include restyle(disabled-false test);
  }
}
