@import "restyle";

@include restyle-define(test, (

  restyle-modifiers: (
    debug: (
      restyle-debug: "debugging",
    ),
    deprecated: (
      restyle-deprecated: "deprecated test is deprecated"
    ),
    warn: (
      restyle-warn: "this is a warning"
    ),
    once: (
      restyle-debug-once: "should only log once"
    )
  )
));

.test {
  &.debug {
    @include restyle(debug test);
  }

  &.deprecated {
    @include restyle(deprecated test);
  }

  &.warn {
    @include restyle(warn test);
  }

  &.once {
    @include restyle(once test);
    @include restyle(once test);
    @include restyle(once test);
    @include restyle(once test);
    @include restyle(once test);
  }
}
