.test {
  foo0: bar;
  foo1: bar;
  foo2: bar;
  foo3: bar;
  foo4: bar;
  foo5: bar;
  foo6: bar;
  foo7: bar;
  foo8: bar;
  foo9: bar;
  foo10: bar;
  foo11: bar;
  foo12: bar;
  foo13: bar;
  foo14: bar;
  foo15: bar;
  foo16: bar;
  foo17: bar;
  foo18: bar;
  foo19: bar;
  foo20: bar;
  foo21: bar;
  foo22: bar;
  foo23: bar;
  foo24: bar;
  foo25: bar;
  foo26: bar;
  foo27: bar;
  foo28: bar;
  foo29: bar;
  foo30: bar;
  foo31: bar;
  foo32: bar;
  foo33: bar;
  foo34: bar;
  foo35: bar;
  foo36: bar;
  foo37: bar;
  foo38: bar;
  foo39: bar;
  foo40: bar;
  foo41: bar;
  foo42: bar;
  foo43: bar;
  foo44: bar;
  foo45: bar;
  foo46: bar;
  foo47: bar;
  foo48: bar;
  foo49: bar;
  foo50: bar;
  foo51: bar;
  foo52: bar;
  foo53: bar;
  foo54: bar;
  foo55: bar;
  foo56: bar;
  foo57: bar;
  foo58: bar;
  foo59: bar;
  foo60: bar;
  foo61: bar;
  foo62: bar;
  foo63: bar;
  foo64: bar;
  foo65: bar;
  foo66: bar;
  foo67: bar;
  foo68: bar;
  foo69: bar;
  foo70: bar;
  foo71: bar;
  foo72: bar;
  foo73: bar;
  foo74: bar;
  foo75: bar;
  foo76: bar;
  foo77: bar;
  foo78: bar;
  foo79: bar;
  foo80: bar;
  foo81: bar;
  foo82: bar;
  foo83: bar;
  foo84: bar;
  foo85: bar;
  foo86: bar;
  foo87: bar;
  foo88: bar;
  foo89: bar;
  foo90: bar;
  foo91: bar;
  foo92: bar;
  foo93: bar;
  foo94: bar;
  foo95: bar;
  foo96: bar;
  foo97: bar;
  foo98: bar;
  foo99: bar; }

.test-static {
  foo0: bar;
  foo1: bar;
  foo2: bar;
  foo3: bar;
  foo4: bar;
  foo5: bar;
  foo6: bar;
  foo7: bar;
  foo8: bar;
  foo9: bar;
  foo10: bar;
  foo11: bar;
  foo12: bar;
  foo13: bar;
  foo14: bar;
  foo15: bar;
  foo16: bar;
  foo17: bar;
  foo18: bar;
  foo19: bar;
  foo20: bar;
  foo21: bar;
  foo22: bar;
  foo23: bar;
  foo24: bar;
  foo25: bar;
  foo26: bar;
  foo27: bar;
  foo28: bar;
  foo29: bar;
  foo30: bar;
  foo31: bar;
  foo32: bar;
  foo33: bar;
  foo34: bar;
  foo35: bar;
  foo36: bar;
  foo37: bar;
  foo38: bar;
  foo39: bar;
  foo40: bar;
  foo41: bar;
  foo42: bar;
  foo43: bar;
  foo44: bar;
  foo45: bar;
  foo46: bar;
  foo47: bar;
  foo48: bar;
  foo49: bar;
  foo50: bar;
  foo51: bar;
  foo52: bar;
  foo53: bar;
  foo54: bar;
  foo55: bar;
  foo56: bar;
  foo57: bar;
  foo58: bar;
  foo59: bar;
  foo60: bar;
  foo61: bar;
  foo62: bar;
  foo63: bar;
  foo64: bar;
  foo65: bar;
  foo66: bar;
  foo67: bar;
  foo68: bar;
  foo69: bar;
  foo70: bar;
  foo71: bar;
  foo72: bar;
  foo73: bar;
  foo74: bar;
  foo75: bar;
  foo76: bar;
  foo77: bar;
  foo78: bar;
  foo79: bar;
  foo80: bar;
  foo81: bar;
  foo82: bar;
  foo83: bar;
  foo84: bar;
  foo85: bar;
  foo86: bar;
  foo87: bar;
  foo88: bar;
  foo89: bar;
  foo90: bar;
  foo91: bar;
  foo92: bar;
  foo93: bar;
  foo94: bar;
  foo95: bar;
  foo96: bar;
  foo97: bar;
  foo98: bar;
  foo99: bar; }
