@import "restyle";

@function map($map) {
  @return $map;
}

@include restyle-define(test, (
  color: red,
  restyle-var(foo): this(color),
  restyle-function(map): (
    foo: restyle-var(foo),
    color: this(color)
  ),

  test: multiple-values(restyle-var(foo), this(color))
));

.test {
  @include restyle(test);
}
