.test {
  color: green;
  height: 100%; }

.test2a {
  color: red;
  height: 100%; }

.test2b {
  color: red;
  height: 100%; }

.test3a {
  aliased: true; }

.test3b {
  aliased: true; }

.test3c {
  aliased: true; }

.test-special-props {
  color: red; }
  .test-special-props.modified {
    color: green;
    background-color: orange; }
  .test-special-props.extended {
    color: green;
    background-color: orange; }
