@import 'restyle';

@include restyle-config(smart-content-enabled, true);

%extend-test {
  extended: true;
}

@include restyle-add-state((
  hover: '&:hover, &.hover, &:focus, &.focus'
));

@include restyle-define(test, (
  color: red,
  height: 100%
));

@include restyle-define(test2, (
  color: red,
  height: 100%
));



.should-be-test {
  @include restyle(test);
}

.should-be-test2 {
  @include restyle(test2);
}
