@import "restyle";

@include restyle-define(test, (
  width: restyle-var(width)
));

.test {
  &.25 {
    @include restyle(test, $variables: (
      width: 25%
    ));
  }
  &.100 {
    @include restyle(test, $variables: (
      width: 100%
    ));
  }
}
