@import "restyle";

@include restyle-define(test, (
  "@restyle.var color": red,
  "@restyle.var color-hover": orange,
  color: "@var.color",

  "@restyle.states": (
    hover: (
      color: "@var.color-hover"
    )
  ),

  "@restyle.modifiers": (
    alt: (
      "@restyle.var color": blue,
      "@restyle.var color-hover": green,
      alt: true
    )
  )
));

.test {
  @include restyle(test);
}

.alt {
  @include restyle(alt test);
}


@include restyle-define(nested-vars, (
  restyle-var(color): red,
  restyle-var(foo): foo2,

  a: var(color),
  b: 1px solid var(color),
  c: (var(foo) bar, restyle-var(color), baz)
));

.nested-vars {
  @include restyle(nested-vars);
}

