.test {
  color: red; }
  .test.hover {
    color: orange; }

.alt {
  color: blue;
  alt: true; }
  .alt.hover {
    color: green; }

.nested-vars {
  a: red;
  b: 1px solid red;
  c: foo2 bar, red, baz; }
